<section class="avoid">
  <div class="container avoid__container">
    <div class="avoid__box">
      <h2 class="avoid__title">Як уникнути конденсату?</h2>
      <ol class="avoid__list">
        <li class="avoid__item">
          <p class="avoid__text">
            <span class="avoid__weight">Контроль вологості. </span>
            Зменшіть вологість у приміщенні за допомогою витяжок, осушувачів
            повітря або частішого провітрювання.
          </p>
        </li>
        <li class="avoid__item">
          <p class="avoid__text">
            <span class="avoid__weight">Поліпшення вентиляції. </span>
            Регулярне провітрювання допомагає уникнути накопичення зайвої
            вологи.
          </p>
        </li>
        <li class="avoid__item">
          <p class="avoid__text">
            <span class="avoid__weight">Тепліші вікна. </span>
            Встановлення склопакетів із термоізоляцією зменшує втрату тепла і
            підвищує температуру скла.
          </p>
        </li>
        <li class="avoid__item">
          <p class="avoid__text">
            <span class="avoid__weight">Підтримання температури. </span>
            Забезпечте стабільну температуру в приміщенні, щоб уникнути різких
            перепадів.
          </p>
        </li>
      </ol>
    </div>
    <img src="./assets/images/window.webp" alt="window" class="avoid__img" />
  </div>
</section>
