<section class="condensate">
  <div class="container condensate__container">
    <img src="./assets/images/condensation.webp" alt="condensation" class="condensate__img">
    <div class="condensate__box">
      <h2 class="condensate__title">Чому конденсат з'являється на вікнах?</h2>
      <p class="condensate__text">
        Скло — це гарний провідник тепла, тому його температура часто нижча, ніж
        усього приміщення. Коли тепле, вологе повітря контактує з холодною поверхнею
        скла, воно охолоджується, і волога осідає у вигляді крапель води.
      </p>
    </div>
  </div>
</section>
