<section class="explanation">
  <div class="container">
    <h2 class="explanation__title">Чому "плачуть" вікна?</h2>
    <p class="explanation__text">
      В холодну пору року ми часто помічаємо, що на вікнах збирається
      конденсат — це і є те, що називають
      <span class="explanation__italic">"плачем"</span> вікон. Але чому це
      відбувається? Давайте розглянемо це з точки зору фізики. Основна
      причина <span class="explanation__italic">"сльозіння"</span> вікон
      полягає у процесі конденсації водяної пари. Конденсація — це фізичне
      явище, коли водяна пара з повітря перетворюється на рідину при
      зниженні температури. У випадку з вікнами це відбувається тоді, коли
      їхня поверхня охолоджується до температури, нижчої за
      <span class="explanation__span">точку роси</span>.
    </p>
  </div>
</section>