<div class="dew-backdrop is-hidden">
  <div class="dew-modal">
    <img src="./assets/images/close.webp" alt="cross" class="dew-modal__close">
    <h2 class="dew-modal__title">Що таке точка роси?</h2>
    <p class="dew-modal__text">
      Точка роси — це температура, при якій водяна пара у повітрі починає
      перетворюватися на краплі води. Вона залежить від вологості та
      температури в приміщенні. Наприклад:
    </p>
    <ul class="dew-modal__list">
      <li class="dew-modal__item">
        <p class="dew-modal__paragraph">
          У приміщенні з високою вологістю точка роси буде вищою.
        </p>
      </li>
      <li class="dew-modal__item">
        <p class="dew-modal__paragraph">
          При зниженні температури повітря збільшується ймовірність
          утворення конденсату.
        </p>
      </li>
    </ul>
  </div>
</div>